<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="net.refy.android.g8x.widemode">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.DebugActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER_"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
